*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.flex{
  display: flex;
}

/* 
Jumbotron
*/

.jumbotron{
  height: 100%;
  background-color: #8569c0;
  color: white;
}

.text-jumbotron{
  width: 1200px;
  padding: 200px 40px;
}

.text-jumbotron h1{
  font-size: 3em;
}

.text-jumbotron input{
  font-size: 1em;
  padding: 0 30px;
  outline: none;
  width: 40vw;
  height: 40px;
  border: none;
  border-radius: 30px 0 0 30px;
}

.text-jumbotron button{
  background-color: rgb(139, 219, 139);
  color: white;
  font-weight: bold;
  border-radius: 0 30px 30px 0;
  font-size: 1em;
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.text-jumbotron button:hover{
  background-color: rgb(118, 184, 118);
  transition: ease-in 0.2s;
}

.text-jumbotron button:active{
  background-color: rgb(96, 148, 96);
}

.text-jumbotron .popular{
  margin: 20px 0;
}

.text-jumbotron h5, .text-jumbotron ul{
  padding: 0;
  margin: 0;
}

.text-jumbotron ul{
  list-style-type: none;
}

.text-jumbotron a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 5px;
}

.text-jumbotron a:hover{
  color: #8569c0;
  background-color: white;
  transition: ease-in 0.2s;
}

.img-jumbotron{
  width: 50vmax;
  background-image: url("img/jumbotron.svg");
  background-size: cover;
}

/* 
Navigation
*/

#navbar{
  background-color: white;
  height: 50px;
  padding: 1px 0;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav ul a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px;
  margin: 0 5px;
}

nav ul a:hover{
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  transition: ease-in 0.2s;
}

nav ul a:active{
  background-color: rgb(209, 209, 209);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}

.sticky-content{
  padding-top: 50px;
}

.nav-mobile{
  text-decoration: none;
  float: left;
  padding: 10px 15px;
  font-weight: bold;
  margin: 5px;
  position: absolute;
  left: -999999px;
}

.nav-mobile:hover{
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
  transition: ease-in 0.2s;
}

.nav-mobile:active{
  background-color: rgb(219, 219, 219);
}

/* 
content
*/

#content{

}

@media screen and (max-width: 1055px){
  .text-jumbotron .popular{
    position: absolute;
    left: -999999px;
  }
}

@media screen and (max-width: 768px){
  .text-jumbotron{
    text-align: center;
    width: 100%;
  }
  .text-jumbotron h1{
    font-size: 2em;
  }
  .img-jumbotron{
    position: absolute;
    left: -999999px;
  }
  nav ul{
    height: 0;
    position: absolute;
    left: -999999px;
  }
  .nav-mobile{
    position: static;
  }
}

/* @media screen and (max-width: 350px){
  .text-jumbotron{
    text-align: center;
    width: 100%;
  }
  .text-jumbotron h1{
    font-size: 2em;
  }
  .img-jumbotron{
    width: 0;
  }
} */