*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.flex{
  display: flex;
}

.section-title{
  margin-top: 50px;
  font-size: 2em;
  color: black;
  font-weight: bold;
  text-align: center;
}

.line{
  margin: 10px auto;
  height: 5px;
  background-color: #8569c0;
  width: 50px;
}

/* 
Jumbotron
*/

.jumbotron{
  height: 100%;
  background-color: #8569c0;
  color: white;
}

.text-jumbotron{
  width: 1200px;
  padding: 200px 40px;
}

.text-jumbotron h1{
  font-size: 3em;
}

.text-jumbotron input{
  font-size: 1em;
  padding: 0 30px;
  outline: none;
  width: 40vw;
  height: 40px;
  border: none;
  border-radius: 30px 0 0 30px;
}

.text-jumbotron button{
  background-color: rgb(139, 219, 139);
  color: white;
  font-weight: bold;
  border-radius: 0 30px 30px 0;
  font-size: 1em;
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.text-jumbotron button:hover{
  background-color: rgb(118, 184, 118);
  transition: ease-in 0.2s;
}

.text-jumbotron button:active{
  background-color: rgb(96, 148, 96);
}

.text-jumbotron .popular{
  margin: 20px 0;
}

.text-jumbotron h5, .text-jumbotron ul{
  padding: 0;
  margin: 0;
}

.text-jumbotron ul{
  list-style-type: none;
}

.text-jumbotron a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 5px;
}

.text-jumbotron a:hover{
  color: #8569c0;
  background-color: white;
  transition: ease-in 0.2s;
}

.img-jumbotron{
  width: 50vmax;
  background-image: url("img/jumbotron.svg");
  background-size: cover;
}

/* 
Navigation
*/

#navbar{
  background-color: white;
  height: 50px;
  padding: 1px 0;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav ul a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px;
  margin: 0 5px;
}

nav ul a:hover{
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  transition: ease-in 0.2s;
}

nav ul a:active{
  background-color: rgb(209, 209, 209);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}

.sticky-content{
  padding-top: 50px;
}

.dropdown{
  text-decoration: none;
  float: left;
  padding: 10px 15px;
  font-weight: bold;
  margin: 5px;
  position: absolute;
  left: -999999px;
}

.dropdown:hover, .dropbtn:focus{
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
  transition: ease-in 0.2s;
}

.dropdown:active{
  background-color: rgb(219, 219, 219);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown button{
  outline: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

/* 
content
*/

#intro-wrapper{
  padding: 0 30px;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 30px;
}

.intro img{
  width: 300px;
}

.intro > div{
  width: 500px;
}

.info-mobile{
  display: none;
}

/* 
category
*/

.category{
  text-align: center;
  padding: 50px 0;
  margin: 30px 0;
  background-color: rgba(174, 141, 192, 0.2);
  border-radius: 30px;
}

.category-item{
  display: inline-block;
  margin: 0 20px;
  width: 200px;
}

.category img{
  width: 50px;
}

/* 
About Us
*/

#card-wrapper{
  text-align: center;
}

.card{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px 2px rgba(181, 121, 209, 0.5);
  width: 280px;
  height: 400px;
  padding: 20px;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.card img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

/* 
biodata
*/

.biodata{
  background-color: #8569c0;
  border-radius: 30px 30px 0 0;
  background-color: rgba(174, 141, 192, 0.2);
  padding: 20px;
  text-align: center;
}

.biodata .pic{
  border-radius: 100%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto;
}

.biodata img{
  max-width: 100%;
}

/* 
footer
*/

footer{
  background-color: #3b1b81;
  height: 50px;
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: bold;
}

footer p{
  margin: 0;
}

@media screen and (max-width: 1055px){
  .text-jumbotron .popular{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .text-jumbotron{
    text-align: center;
    width: 100%;
    background-image: url("img/jumbotron.svg");
    background-size: cover;
    background-position-x: 350px;
    background-repeat: no-repeat;
  }
  .text-jumbotron h1{
    font-size: 2em;
  }
  .img-jumbotron{
    display: none;
  }
  nav ul{
    height: 0;
    display: none;
  }
  .dropdown{
    position: static;
  }

  .intro{
    display: contents;
    text-align: center;
  }
  .intro img{
    width: 100%;
  }
  .intro > div{
    width: 100%;
  }
  .info{
    display: none;
  }
  .info-mobile{
    display: contents;
  }
}